[Unit]
Description=Raspberry Pi Environment Monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/zeromon
EnvironmentFile=/etc/zeromon.env
Type=Simple
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=30
StartLimitBurst=3
PIDFile=/var/run/zeromon.pid

[Install]
WantedBy=multi-user.target
